<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="lib/vue-2.4.0.js"></script>
    <link rel="stylesheet" href="lib/bootstrap-3.3.7.css">
</head>
<body>
<div class="app">
    <cmt-box @func="loadComments"></cmt-box>
    <ul class="list-group">
        <li class="list-group-item" v-for="item in list" :key="item.id">
            <span class="badge">评论人： {{ item.user }}</span>
            {{ item.content }}
        </li>
    </ul>

</div>
<template id="tmpl">
    <div>
        <div class="form-group">
            <label>评论人：</label>
            <input type="text" class="form-control" v-model="user">
        </div>
        <div class="form-group">
            <label>评论内容：</label>
            <textarea class="form-control" v-model="content"></textarea>
        </div>
        <div class="form-group">
            <input type="button" value="发表评论" class="btn btn-primary" @click="postComment">
        </div>
    </div>
</template>
<script>
    var commentBox = {
        data() {
            return {
                user: '',
                content: ''
            }
        },
        template: '#tmpl',
        methods: {
            postComment() {
                var comment = {id: Date.now(), user: this.user, content: this.content};
                var list = JSON.parse(localStorage.getItem('cmts') || []);
                list.unshift(comment);
                localStorage.setItem('cmts', JSON.stringify(list));
                this.user = this.content = '';
                this.$emit('func')
            }
        }
    };
    var vm = new Vue({
        el: '.app',
        data: {
            list: [{id: Date.now(), user: '测试', content: '测试内容'}, {id: Date.now(), user: '测试', content: '测试内容'}]
        },
        created() {
            this.loadComments();
        },
        methods: {
            loadComments() {
                this.list = JSON.parse(localStorage.getItem('cmts')) || []
            }
        },
        components: {
            'cmt-box': commentBox
        }
    })
</script>
</body>
</html>