/*
* @Author: andy
* @Date:   2017-12-18 09:34:47
* @Last Modified by:   andy
* @Last Modified time: 2017-12-18 09:34:47
*/
*{
	margin:0;
	padding:0;
	box-sizing: border-box;   /*  css3 盒子模型 */
}
em,i{
	font-style:normal;
}
li{
	list-style:none;
}
img{
	border:0;
	vertical-align:middle;
}
button{
	cursor:pointer;
}
a{
	color:#050505;
	text-decoration:none;
}
a:hover{
	color:#c81623;
}
button,input{
	font-family:Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif;
}
body{
	-webkit-font-smoothing:antialiased;
	background-color:#fff;
	font:12px/1.5 Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif;
	color:#666;
}
.hide,.none{
	display:none;
}
.clearfix:after{
	visibility:hidden;
	clear:both;
	display:block;
	content:".";
	height:0;
}.clearfix{
	*zoom:1;
}
/* 版心 */
.w {
	width: 1200px;
	margin: auto;
}